@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 96.1%; /* #F5F5F5 */
    --foreground: 0 0% 20%; /* #333333 */
    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;
    --primary: 235 62% 29%; /* #1A237E */
    --primary-foreground: 0 0% 98%;
    --secondary: 187 100% 42%; /* #00BCD4 */
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 47%; /* #777777 */
    --accent: 45 100% 51%; /* #FFC107 */
    --accent-foreground: 0 0% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 235 62% 29%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 235 62% 60%;
    --primary-foreground: 0 0% 98%;
    --secondary: 187 100% 50%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 45 100% 51%;
    --accent-foreground: 0 0% 20%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 235 62% 60%;
  }
  * {
    @apply border-border;
  }
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
    text-rendering: optimizeLegibility;
  }
}
@layer components {
  .text-pretty {
    text-wrap: pretty;
  }
}